@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100&display=swap");


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  box-sizing: border-box;
  outline: none;
}

:root{
  --bg-color-dark: #282c34;
  --bg-black-input: rgba(71, 71, 71, 0.8);
  --white: rgb(252, 252, 252);
  --red: rgb(255, 98, 98);
  --red-hover: rgb(252, 76, 76); 
  --purple: rgb(196, 100, 252);
  --purple-hover: rgb(173, 33, 253);
  --green: #6cd47e;
  --green-hover:#47b159; 

  --input-focused: rgba(248, 247, 247, 0.1);


  --bg-gradient-text: linear-gradient(
    90deg,
    rgb(134, 189, 245) 0%,
    rgb(186, 68, 255) 100%
  );
  --bg-gradient-primary: linear-gradient(
    90deg,
    rgba(64, 120, 175, 1) 0%,
    rgba(162, 0, 255, 1) 100%
  );

  --bg-gradient-primary-hover:linear-gradient(
    90deg,
    rgba(55, 108, 161, 1) 0%,
    rgba(145, 2, 227, 1) 100%
  );
}

/* -----GENERAL LAYOUT ------*/
.App {
  background-color: var(--bg-color-dark);
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
}

.title_app {
  grid-column: 1/2;
  padding: 1rem;
  width: 100%;
  position: absolute;
  text-align: center;
}
.form_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


/* ------------------------------------BOTONES COOL---------------------*/

.buttons {  
  display: grid;
  place-content: center;
  cursor: pointer;          
  border: none;
  border-radius: 25px;

}

.button_primary {
  background: var(--bg-gradient-primary);
  width: 80%;
  height: 12%;
}

.button_primary:hover {
  background: var(--bg-gradient-primary-hover);
}

.danger_button {
  background-color: var(--red);
  padding: 4px;
}
.danger_button:hover {
  background-color: var(--red-hover);
  box-shadow: rgba(255, 152, 152, 0.315) 0px 1px 10px 0px;
}

.button_trash {
  padding: 8px;
}

.edit_buttom{
  background-color: var(--purple);
  padding: 6px;
}
.edit_buttom:hover {
  background-color: var(--purple-hover);
  box-shadow: rgba(239, 156, 255, 0.295) 0px 1px 10px 0px;
}


.button_confirm{
  padding: 4px;
  background-color: var(--green);
}

.button_confirm:hover {
  background-color: var(--green-hover);
  box-shadow: rgba(121, 255, 155, 0.295) 0px 1px 10px 0px;
}




/*---GENERAL FORM STYLE---*/

.txtInput{
  background-color: var(--bg-black-input);
  font-weight: 200;
  color: var(--white);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  border: none;
}

.txtArea{
  background-color: var(--bg-black-input);
  font-size: 14px;
  font-weight: 200;
  resize: none;
  border: none;
  border-radius: 12px;
  padding: 0.5rem 1rem;
}
.txtInput:focus,
.txtArea:focus {
  border: 1px solid var(--input-focused) ;
}


/*----FORM TASK COMPONENT----*/
.formTask {
  padding: 1rem 0.2rem;
  background-color: rgb(63, 63, 63, 0.5);
  box-shadow: 0 8px 32px 0 rgba(138, 138, 138, 0.17);
  height: 50%;
  width: 80%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.area_form {
  width: 80%;
  height: 50%;
}

.input_form {
  width: 80%;
}


/* -----------lado drecho con contenedor de tareas creadas -----------------*/


.taskItemContainer {
  background-color: rgb(63, 63, 63);
  border-radius: 18px;
  padding: 0.5rem 1rem;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}

.taskItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 80%;
}
.taskItem label {
  background: var(--bg-gradient-text);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;

  font-size: 17px;
  font-weight: 500;
}

.description_container {
  display: flex;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 200;
}

.info_description {
  height: auto;
  width: 90%;
}

.item_top {
  display: flex;
  gap: 0.8rem;
  align-items: flex-start;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #a3e583);
}

.checkGreen:checked + .check svg {
  stroke: var(--accent-color, #a3e583);
}

.checkGreen:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.checkGreen:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}



/* --------------------------------UPDATING FORM -----------------------------*/
.formTaskUpdating{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.containerInputsUpdating{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 80%;
}

.containerButtonsUpdating{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

